## Heroes of Pymoli: Data Analysis
1. Of the 576 total players, the majority of players were male(84.03%), and nearly half of them were in the age range between 20 to 24.(44.79%)
2. This same age demographic also spent total of $1,114.06 to purchase items out of total revenue generated by Heroes of Pymoli which was $2,379.77.
3. "Final Critics" was the most popular item that sold 13 quantities with total purchase price of $59.99.(which implicates purchases were diversified)

In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load
path = "Resources/purchase_data.csv"

# Read and Store into Pandas
data = pd.read_csv(path)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [32]:
# Calculate the total number of unique players
total_players = len(data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

In [41]:
# Run basic calculations
unique_item = len((data["Item ID"]).unique())
average_price = (data["Price"]).mean()
total_purchase = (data["Purchase ID"]).count()
total_revenue = (data["Price"]).sum()

# Create summary data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_item], "Average Price": [average_price], "Number of Purchases": [total_purchase], "Total Revenue": [total_revenue]})

# Formatting
summary_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

## Gender Demographics

In [39]:
# Calculate the Number and Percentage by Gender
player_demographics = data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()

gender_total = player_demographics["Gender"].value_counts()
gender_percent = gender_total / total_players

# Create summary data frame
gender_demographics = pd.DataFrame({"Total Count": gender_total, "Percentage of Players": gender_percent})

# Formatting
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [43]:
# Run basic calculations by gender
purchase_count = gender_data["Purchase ID"].count()
avg_purchase_price = gender_data["Price"].mean()
total_purchase = gender_data["Price"].sum()
avg_purchase_per_person = total_purchase / gender_total

# Create summary data frame
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase,
                                    "Avg Purchase per Person": avg_purchase_per_person})

# Formatting
gender_demographics.index.name = "Gender"
gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Purchase per Person":"${:,.2f}"})

## Age Demographics

In [45]:
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
data["Age Group"] = pd.cut(data["Age"], bins, labels=group_labels)
data

# Calculate the numbers and percentages by age group
age_group = data.groupby("Age Group")
age_count = age_group["SN"].nunique()
age_percent = (age_count / total_players) * 100

# Create summary data frame
age_demographics = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percent})

# Formatting
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

In [47]:
# Run basic calculations
purchase_count_age = age_group["Purchase ID"].count()
avg_purchase_price_age = age_group["Price"].mean()
total_purchase_age = age_group["Price"].sum()
avg_total_age = total_purchase_age / age_count

# Create summary data frame
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_age,
                                 "Average Total Purchase per Person": avg_total_age})

# Formatting
age_demographics.index.name = "Age Ranges"
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Total Purchase per Person":"${:,.2f}"})

## Top Spenders

In [48]:
# Run basic calculations
spender_data = data.groupby("SN")
purchase_count_spender = spender_data["Purchase ID"].count()
avg_purchase_spender = spender_data["Price"].mean()
total_purchase_spender = spender_data["Price"].sum()

# Create summary data frame
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_spender,
                             "Total Purchase Value": total_purchase_spender})

# Formatting
summary_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
summary_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

In [50]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Run basic calculations
item_data = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_data["Price"].count()
total_purchase_item = (item_data["Price"].sum()) 
item_price = total_purchase_item / purchase_count_item


# Create summry data frame
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value": total_purchase_item})

# Formatting
summary_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
summary_popular_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

In [51]:
# Formatting (total purchase value in descending order)
summary_popular_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
summary_popular_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})